<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda de Contatos</title>
</head>
<body>
  <h1>Agenda de Contatos</h1>
  <form action="/create" method="POST">
    <input name="name" placeholder="Nome">
    <input name="email" placeholder="E-mail">
    <input name="phone" placeholder="Telefone">
    <button type="submit">
      Adicionar
    </button>
  </form>
  <ul>
    {% for name in contacts %}
      <li>
          <form action="/update/{{ loop.index0 }}" method="POST">
             <input name="name" value="{{ name['name'] }}">
             <input name="email" value="{{ name['email'] }}">
             <input name="phone" value="{{ name['phone'] }}">
             <button type="submit">Editar</button>
          </form>
          {% if contacts['complete'] == False %}
            <a href="/complete/{{ loop.index0 }}">
               Completar
            </a>
          {% endif %}
          <a href="/delete/{{ 0 }}">
            ❌
          </a>
      </li>
    {% endfor %}
  </ul>

</body>
</html>